*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
}
header{
position: fixed;
width:100%;
height:60px;
margin:0px;
padding:0px;
background-color:black;
z-index: 1000;
}

.logo img{
    display: flex;
    position: fixed;
    margin:0px;
    width:40px;
    height:40px;
}
.logo h1{
    height:auto;
    margin: 10px 15px 10px 10px;
    font-size: 1.2em;
    color:white;
    padding-left: 40px;
}

.btn{
    display:flex;
    justify-content: right;
    position:absolute;
    gap: 10px;
    right:30px;
    top: 20px;
    padding: 0 40px;
    text-align: center;
    cursor: pointer;
    }
    .Accueil{
    margin-right: 30px;
    font-size: 1rem;
    border: none;
    background-color:black;
    color: white;
    }
    .Services{
    margin-right: 30px;
    font-size: 1rem;
    border: none;
    background-color:black;
    color: white;
    }
    .Services a{
        text-decoration:none;
        background:#e8e5e5 ;
    }
 
    .Réalisations{
    margin-right: 30px;
    font-size: 1rem;
    border: none;
    background-color:black;
    color: white;
    }
    .Blog{
    margin-right: 30px;
    font-size: 1rem;
    border: none;
    background-color:black;
    color: white;
    }
    .Contact{
        margin-right: 10px;
        font-size: 1rem;
        border: none;
        background-color:black;
        color: white;
        }
#Banniere{
display:block
}
.Banniere img{
    margin-top:60px;
    width: 100%;
    height:60px;
}

/* Central */
#Intro{
text-align: center;
height:200px;
color: rgb(0, 0, 0);

}
.Introduction h1{
padding-top: 50px;
color: rgb(0, 0, 0);
font-size:1.9em;
}
.Introduction p{
margin:10px;
color: rgb(0, 0, 0);
font-size:medium;
}
/* trait separateur */
hr{
    border-top: 3px solid #1526e3;
    color: #2430e4;
    overflow: visible;
    text-align: center;
    width: 400px;
    margin-left:430px;
    margin-top: 10px;
    }

#Realisations{
height: 500px;
width:100%;
display: flex;
gap:50px;
border-spacing: 5px 1rem;
justify-content: center;
align-items: center;
justify-content: center;
margin-top:-100px;
}

#Realisations a:hover{
background: #cde1f8;

}
.Design{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:340px;
height:300px;
border: black solid 0.1em;
border-radius: 3%;
line-height: 25px;
}
.Design img{
display: inline-block;
position: relative;
width :100px;
}


.Design h1{
    margin:20px;
    text-align: center;
}
.Design p{
    padding-top:5px;
    text-align: center;
}

.Développement{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:340px;
height:300px;
border: black solid 0.1em;
border-radius: 3%;
line-height: 25px;
}
.Développement img{
display: inline-block;
position: relative;
width :100px;
}
.Développement h1{
    margin:20px;
    text-align: center;
}
.Développement p{
    padding-top:5px;
    text-align: center;
}


.Référencement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:340px;
    height:300px;
    border: black solid 0.1em;
    border-radius: 3%;
    line-height:25px;
}
.Référencement img{
    display: inline-block;
    position: relative;
    width :100px;
}
.Référencement h1{
    margin:20px;
    text-align: center;
}
.Référencement p{
    padding-top:5px;
    text-align: center;
}


 /*footer */
#Baspage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:180px;
    background-color: #e8e5e5;
}
.Adresse{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.Adresse img{
    width:20px;
    height:20px;
    margin-top: 10px;
}


.Liens{
    align-items: center;
    height: 100px;
}
.Liens h3{
    margin:10px;
    align-items: center;
}
.Liens li{
    list-style-type: none;
    align-items: center;
}
li::before{
    content: ">";
    padding-right: 8px;
    color:#0d6efd;
}

.Projets{
    align-items: center;
    height: 100px;
}
.Projets h3{
    margin:10px;
    align-items: center;
}
.Projets li{
    list-style-type: none;
    align-items: center;
}
li::before{
    content: ">";
    padding-right: 8px;
    color:#0d6efd;
}

.Articles{
    align-items: center;
    height: 100px;
}
.Articles h3{
    margin:10px;
    align-items: center;
}
.Articles li{
    list-style-type: none;
    align-items: center;
}
li::before{
    content: ">";
    padding-right: 8px;
    color:#0d6efd;
}

#Copy{
    width: 100%;
    height:40px;
    padding-top: 10px;
    background-color: rgb(9, 9, 9);
    color:white;
    text-align: center;
 }


 @media(hover:hover){
    footer a:hover{
            background:#298eff;
            opacity: 0.8;
        }
    }
    


